In [24]:
import pandas as pd

In [25]:
df = pd.read_excel('../data/PM_ML_Data_Final.xlsx', index_col='TestID')
df

            WNRD     WNVol     WNNCD      Class
TestID
1       0.000120  0.012339  0.008525    Similar
2       0.000120  0.011953  0.008375    Similar
3       0.000196  0.007618  0.004438    Similar
4       0.000197  0.007452  0.004424    Similar
5       0.000162  0.012785  0.009120    Similar
...          ...       ...       ...        ...
962     0.091940  0.124211  0.153080  Different
963     0.082274  0.117211  0.140817  Different
964     0.091940  0.124431  0.153347  Different
965     0.082279  0.111474  0.135962  Different
966     0.091942  0.124134  0.153054  Different

[966 rows x 4 columns]

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
seed = 7

In [29]:
X = df.drop("Class",axis=1)
y = df["Class"]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=seed)

In [31]:
X_train

            WNRD     WNVol     WNNCD
TestID
415     0.002227  0.105717  0.062179
319     0.198656  0.127894  0.233370
573     0.002356  0.169175  0.120250
506     0.008541  0.089513  0.060240
601     0.000945  0.168636  0.136925
...          ...       ...       ...
580     0.002454  0.114904  0.083363
503     0.007232  0.093650  0.066664
538     0.000882  0.123532  0.086431
197     0.167056  0.122953  0.199955
176     0.192594  0.087238  0.208814

[676 rows x 3 columns]

In [32]:
X_test

            WNRD     WNVol     WNNCD
TestID
238     0.186641  0.127044  0.224919
564     0.006220  0.098347  0.082061
676     0.006239  0.134682  0.100609
25      0.000435  0.008095  0.005574
205     0.160748  0.140607  0.210533
...          ...       ...       ...
796     0.000386  0.022569  0.016738
189     0.167908  0.161788  0.215418
252     0.185649  0.130624  0.223735
72      0.000503  0.009268  0.008367
682     0.006198  0.131619  0.100041

[290 rows x 3 columns]

In [39]:
y_train

TestID
415           Lab
319     Different
573    Instrument
506    Instrument
601    Instrument
          ...
580    Instrument
503    Instrument
538    Instrument
197     Different
176     Different
Name: Class, Length: 676, dtype: object

In [40]:
y_test

TestID
238     Different
564    Instrument
676    Instrument
25        Similar
205     Different
          ...
796           Day
189     Different
252     Different
72        Similar
682    Instrument
Name: Class, Length: 290, dtype: object

In [33]:
ct = pd.crosstab(x_cluser["Class"], x_clusters["cluster"])
print(ct)

NameError: name 'x_cluser' is not defined

In [ ]:
ks = range(1, 10)
inertias = []

In [ ]:
for k in ks:
    model = KMeans(n_clusters=k)
    model.fit(X)
    inertias.append(model.inertia_)

## Drawing a Graph

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(ks.inertias)
plt.xlabel('number of clusters, k')
plt.ylabel('inertia')
plt.xticks(ks)
plt.show()

In [ ]:
x_cluster.to_csv("../data/PM_Kmean_Clustering_Result.csv")

In [ ]:
df2 = read_csv("../data/PM_Kmean_Clustering_Result.csv")
df2

In [36]:
un = pd.read_excel("../data/PM_ML_Unknown.xlsx", index_col="TestID")
un

            WNRD     WNVol     WNNCD
TestID
14      0.000206  0.019164  0.012985
70      0.000307  0.008519  0.009125
176     0.192594  0.087238  0.208814
295     0.199662  0.149283  0.246484
382     0.001103  0.047906  0.036669
419     0.002454  0.099070  0.057033
425     0.006560  0.139213  0.094563
723     0.006616  0.149104  0.099622
731     0.000245  0.024575  0.018870
833     0.000363  0.010278  0.008227

In [38]:
cluster_distance_Unknown = train_clusters.fit_transform(un)

NameError: name 'train_clusters' is not defined

In [ ]:
cluster_distance_un =