In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
data=pd.read_excel("../data/PM_ML_Data_Final.xlsx",index_col="TestID")

In [3]:
data.head()

            WNRD     WNVol     WNNCD    Class
TestID
1       0.000120  0.012339  0.008525  Similar
2       0.000120  0.011953  0.008375  Similar
3       0.000196  0.007618  0.004438  Similar
4       0.000197  0.007452  0.004424  Similar
5       0.000162  0.012785  0.009120  Similar

## 데이터 나누기

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
seed=7

In [6]:
X=data.drop('Class',axis=1)

In [7]:
y=data['Class']

In [8]:
X.head()

            WNRD     WNVol     WNNCD
TestID
1       0.000120  0.012339  0.008525
2       0.000120  0.011953  0.008375
3       0.000196  0.007618  0.004438
4       0.000197  0.007452  0.004424
5       0.000162  0.012785  0.009120

In [9]:
y

TestID
1        Similar
2        Similar
3        Similar
4        Similar
5        Similar
         ...
962    Different
963    Different
964    Different
965    Different
966    Different
Name: Class, Length: 966, dtype: object

In [10]:
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=seed)

## Logistic Regression

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
lr=LogisticRegression()

In [13]:
lr.fit(X_train,y_train)

LogisticRegression()

In [14]:
print(lr.score(X_train,y_train))

0.8313609467455622

## Predition

In [15]:
lr.predict(X_test)

array(['Different', 'Instrument', 'Instrument', 'Similar', 'Different',
       'Different', 'Different', 'Instrument', 'Different', 'Similar',
       'Instrument', 'Similar', 'Instrument', 'Instrument', 'Similar',
       'Instrument', 'Different', 'Instrument', 'Similar', 'Similar',
       'Similar', 'Instrument', 'Similar', 'Similar', 'Similar',
       'Instrument', 'Different', 'Similar', 'Different', 'Different',
       'Different', 'Similar', 'Similar', 'Similar', 'Similar',
       'Different', 'Instrument', 'Similar', 'Similar', 'Different',
       'Similar', 'Similar', 'Similar', 'Similar', 'Instrument',
       'Different', 'Similar', 'Different', 'Instrument', 'Instrument',
       'Different', 'Similar', 'Similar', 'Similar', 'Similar',
       'Instrument', 'Different', 'Instrument', 'Different', 'Similar',
       'Different', 'Different', 'Instrument', 'Instrument', 'Similar',
       'Instrument', 'Instrument', 'Instrument', 'Instrument',
       'Instrument', 'Similar', 'Different', 'Instrument', 'Instrument',
       'Similar', 'Similar', 'Instrument', 'Similar', 'Different',
       'Similar', 'Instrument', 'Instrument', 'Instrument', 'Instrument',
       'Instrument', 'Similar', 'Instrument', 'Different', 'Instrument',
       'Instrument', 'Similar', 'Different', 'Instrument', 'Instrument',
       'Instrument', 'Similar', 'Instrument', 'Different', 'Similar',
       'Instrument', 'Similar', 'Similar', 'Different', 'Instrument',
       'Instrument', 'Similar', 'Similar', 'Similar', 'Similar',
       'Similar', 'Instrument', 'Instrument', 'Instrument', 'Different',
       'Different', 'Instrument', 'Similar', 'Different', 'Similar',
       'Similar', 'Different', 'Instrument', 'Instrument', 'Instrument',
       'Instrument', 'Different', 'Similar', 'Instrument', 'Similar',
       'Similar', 'Instrument', 'Similar', 'Different', 'Similar',
       'Instrument', 'Different', 'Instrument', 'Similar', 'Instrument',
       'Instrument', 'Similar', 'Similar', 'Different', 'Similar',
       'Instrument', 'Different', 'Instrument', 'Instrument',
       'Instrument', 'Similar', 'Instrument', 'Different', 'Instrument',
       'Instrument', 'Different', 'Similar', 'Different', 'Different',
       'Similar', 'Similar', 'Similar', 'Instrument', 'Instrument',
       'Instrument', 'Different', 'Different', 'Instrument', 'Similar',
       'Similar', 'Similar', 'Different', 'Similar', 'Instrument',
       'Instrument', 'Different', 'Different', 'Similar', 'Different',
       'Different', 'Instrument', 'Similar', 'Different', 'Instrument',
       'Instrument', 'Similar', 'Instrument', 'Instrument', 'Instrument',
       'Instrument', 'Similar', 'Instrument', 'Instrument', 'Different',
       'Instrument', 'Instrument', 'Similar', 'Different', 'Instrument',
       'Instrument', 'Similar', 'Different', 'Similar', 'Instrument',
       'Instrument', 'Different', 'Different', 'Different', 'Similar',
       'Similar', 'Similar', 'Different', 'Instrument', 'Instrument',
       'Similar', 'Similar', 'Different', 'Instrument', 'Different',
       'Different', 'Instrument', 'Different', 'Different', 'Instrument',
       'Similar', 'Different', 'Similar', 'Different', 'Instrument',
       'Different', 'Similar', 'Instrument', 'Different', 'Instrument',
       'Similar', 'Instrument', 'Similar', 'Different', 'Similar',
       'Similar', 'Instrument', 'Instrument', 'Similar', 'Different',
       'Similar', 'Different', 'Different', 'Similar', 'Instrument',
       'Different', 'Instrument', 'Instrument', 'Different', 'Similar',
       'Similar', 'Different', 'Instrument', 'Similar', 'Similar',
       'Similar', 'Instrument', 'Similar', 'Similar', 'Similar',
       'Instrument', 'Similar', 'Instrument', 'Similar', 'Similar',
       'Similar', 'Instrument', 'Different', 'Different', 'Similar',
       'Instrument', 'Similar', 'Instrument', 'Similar', 'Instrument',
       'Similar', 'Instrument', 'Different', 'Similar', 'Similar',
       'Instrument', 'Similar', 'Similar', 'Different', 'Different',
       'Similar', 'Instrument'], dtype=object)

## Evaluation

In [16]:
preditions=lr.predict(X_test)

In [17]:
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
print(classification_report(y_test,preditions))

              precision    recall  f1-score   support

         Day       0.00      0.00      0.00        35
   Different       1.00      0.93      0.96        80
  Instrument       0.84      0.99      0.91        92
         Lab       0.00      0.00      0.00        13
     Similar       0.65      1.00      0.79        70

    accuracy                           0.81       290
   macro avg       0.50      0.58      0.53       290
weighted avg       0.70      0.81      0.74       290

C:\Users\jksuh\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [19]:
print(confusion_matrix(y_test,preditions))

[[ 0  0  0  0 35]
 [ 0 74  6  0  0]
 [ 0  0 91  0  1]
 [ 0  0 11  0  2]
 [ 0  0  0  0 70]]

## Unknown

In [20]:
un=pd.read_excel("../data/PM_ML_Unknown.xlsx",index_col="TestID")

In [21]:
un

            WNRD     WNVol     WNNCD
TestID
14      0.000206  0.019164  0.012985
70      0.000307  0.008519  0.009125
176     0.192594  0.087238  0.208814
295     0.199662  0.149283  0.246484
382     0.001103  0.047906  0.036669
419     0.002454  0.099070  0.057033
425     0.006560  0.139213  0.094563
723     0.006616  0.149104  0.099622
731     0.000245  0.024575  0.018870
833     0.000363  0.010278  0.008227

In [22]:
un_prediction=lr.predict(un)

In [23]:
un_prediction

array(['Similar', 'Similar', 'Different', 'Different', 'Similar',
       'Instrument', 'Instrument', 'Instrument', 'Similar', 'Similar'],
      dtype=object)

In [24]:
un["Prediction"]=un_prediction[:]

In [25]:
un

            WNRD     WNVol     WNNCD  Prediction
TestID
14      0.000206  0.019164  0.012985     Similar
70      0.000307  0.008519  0.009125     Similar
176     0.192594  0.087238  0.208814   Different
295     0.199662  0.149283  0.246484   Different
382     0.001103  0.047906  0.036669     Similar
419     0.002454  0.099070  0.057033  Instrument
425     0.006560  0.139213  0.094563  Instrument
723     0.006616  0.149104  0.099622  Instrument
731     0.000245  0.024575  0.018870     Similar
833     0.000363  0.010278  0.008227     Similar